{% load static %}
{% block content %}

<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

        <link href="{% static 'css/base.css' %}" rel="stylesheet">



</head>

<div class="text-center my-4">
    <img class="mylogo img-fluid" src="{% static 'images/logo.png' %}" alt="Logo">
</div>

<!-- Navigation Bar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm mb-4">
    <div class="container-fluid">

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'dashboard' %}">
                        <i class="bi bi-house-door"></i> Dashboard
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'files' %}">
                        <i class="bi bi-book"></i> Books
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'admission' %}">
                        <i class="bi bi-file-earmark-person"></i> Enrollment
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'list' %}">
                        <i class="bi bi-list"></i> List
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'home' %}">
                        <i class="bi bi-box-arrow-right"></i> Logout
                    </a>
                </li>

            </ul>
        </div>
    </div>
</nav>
<div class="container my-5 text-center">
    <h2 class="text-danger">Are you sure you want to delete "{{ file.name }}"?</h2>

    <form method="POST">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Yes, Delete</button>
        <a href="{% url 'files' %}" class="btn btn-secondary">Cancel</a>
    </form>
</div>
{% endblock content %}
