{% load static %}
{% block content %}

<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

        <link href="{% static 'css/base.css' %}" rel="stylesheet">



</head>

<div class="text-center my-4">
    <img class="mylogo img-fluid" src="{% static 'images/logo.png' %}" alt="Logo">
</div>

{% include 'app/adminbar.html' %}

<div class="container my-5">
    <h2 class="section-title text-primary">Manage PDFs, Files, and Books</h2>

    <a href="{% url 'files_create' %}" class="btn btn-success mb-3">Upload New File</a>

    <div class="table-responsive">
        <table class="table table-striped table-bordered">
            <thead class="table-dark">
                <tr>
                    <th>File Name</th>
                    <th>Type</th>
                    <th>Uploaded On</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for file in files_list %}
                <tr>
                    <td>{{ file.name }}</td>
                    <td>{{ file.file_type }}</td>
                    <td>{{ file.uploaded_on }}</td>
                    <td>
                       <a href="{% url 'files_detail' file.pk %}" class="btn btn-outline-primary btn-sm" target="_blank">View</a>
                        <a href="{% url 'files_update' file.pk %}" class="btn btn-outline-warning btn-sm">Edit</a>
                        <a href="{% url 'files_delete' file.pk %}" class="btn btn-outline-danger btn-sm">Delete</a>
                    </td>
                </tr>
                {% empty %}

                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock content %}
