{% load static %}
{% block content %}

<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

        <link href="{% static 'css/base.css' %}" rel="stylesheet">



</head>

<div class="text-center my-4">
    <img class="mylogo img-fluid" src="{% static 'images/logo.png' %}" alt="Logo">
</div>

{% include 'app/adminbar.html' %}

<div class="container my-5">
    <h2 class="section-title text-primary">{% if files %}Edit{% else %}Upload{% endif %} Files</h2>

    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Save</button>
        <a href="{% url 'files' %}" class="btn btn-secondary">Cancel</a>
    </form>
</div>

{% endblock content %}
